<section class="main-wrapper changepass-main-wrapper">
	<form class="changepass-form" method='post' action='/api/changePassword'>
		<p class="validation-message" ng-if='errorCode == 0'>Succesfully changed your password</p>
		<p class="validation-message" ng-if='errorCode == 1'>You dont have access here!</p>
		<h4>Change password form</h4>
		<input type='text' name='emailCode' placeholder="Code from email"> 
		<input type='text' name='email' placeholder="Email">
		<input type='password' name='password', placeholder="New password">
		<button type='submit' value='Submit'>Submit</button>
	</form>
</section>



	
	