<section class="main-wrapper weather-main-wrapper">
	<section class="weather-info">
		<h3>City, Country Weather</h3>
		<div class="current-day">
			<img class="big-img" src="/images/sun.png" alt="big-img">
			<div class="current-info">
				<p class="temperature">33&#8451; / 33&#x2109;</p>
				<p>Current: some data</p>
				<p>Wind: some data</p>
				<p>Humidity: some data</p>
			</div>
		</div>
		<div class="next-days">
			<span class="day">
				<div class="day-info">
					<h5>Day's name</h5>
					<p>High: 30&#x2109;/30&#8451;</p>
					<p>Low: 0&#x2109;/0&#8451;</p>
				</div>
				<img src="/images/sun.png" alt="img">
			</span>
			<span class="day">
				<div class="day-info">
					<h5>Day's name</h5>
					<p>High: 30&#x2109;/30&#8451;</p>
					<p>Low: 0&#x2109;/0&#8451;</p>
				</div>
				<img src="/images/sun.png" alt="img">
			</span>
			<span class="day">
				<div class="day-info">
					<h5>Day's name</h5>
					<p>High: 30&#x2109;/30&#8451;</p>
					<p>Low: 0&#x2109;/0&#8451;</p>
				</div>
				<img src="/images/sun.png" alt="img">
			</span>
			<span class="day">
				<div class="day-info">
					<h5>Day's name</h5>
					<p>High: 30&#x2109;/30&#8451;</p>
					<p>Low: 0&#x2109;/0&#8451;</p>
				</div>
				<img src="/images/sun.png" alt="img">
			</span>
			<span class="day">
				<div class="day-info">
					<h5>Day's name</h5>
					<p>High: 30&#x2109;/30&#8451;</p>
					<p>Low: 0&#x2109;/0&#8451;</p>
				</div>
				<img src="/images/sun.png" alt="img">
			</span>
		</div>
	</section>
</section>