<div class="main-wrapper login-main-wrapper weather-info">
	<h3>Weather Forecast</h3>
	<div ng-if="weather">
		<div ng-repeat="day in weather" class="col locations-weather">
			<div class="day">{{ day.location }}, {{ day.dayOfWeek }} {{ day.date }}</div>
			<div class="celsius">High: {{ day.maxtempF }}&#x2109; | {{ day.maxtempC }}&#8451;</div>
			<div class="farenheit">Low: {{ day.mintempF }}&#x2109; | {{ day.mintempC }}&#8451;</div>
		</div>
	</div>
	<div ng-if="!weather.length" class="col">
		<h4>No results</h4>
	</div>
</div>