<section class="main-wrapper recovery-main-wrapper">
	<form class="recovery-form" method='post' action='/api/recovery'>
		<p class="validation-message" ng-if='errorCode == 0'>Email has been sent. Check it and follow the steps</p>
		<p class="error-message" ng-if='errorCode == 1'>Error at sending email to the address you entered</p>
		<p class="validation-message" ng-if='errorCode == 2'>This is not a valid email!</p>
		<h4>Enter your email here:</h4>
		<input type='text' name='email' placeholder='Email'>
		<button type='submit' value='Submit'>Submit</button>
	</form> 
</section>




