<section class="main-wrapper register-main-wrapper">

	<form class="form-register" method="post" action="/api/register">
		<p class="error-message" ng-if='errorCode == 1'>The email is already in use!</p>
		<p class="validation-message" ng-if='errorCode == 2'>Username is already in use!</p>
		<p class="validation-message" ng-if='errorCode == 3'>All fields are mandatory!</p>
		<h3>Sign up</h3>
		<div class="control-group">
			<input type="text" class="username" name="username" placeholder="Username">
		</div>
		<div class="control-group">
			<input type="password" class="password" name="password" placeholder="Password">
		</div>
		<div class="control-group">
			<input type="text" class="email" name="email" placeholder="Email">
		</div>

		<!-- <input class="submit-button" type="submit" value="Submit"> -->

		<button type="submit">
				Submit
		</button>

	</form>
</section>
