<section class="main-wrapper register-main-wrapper">

	<form class="form-register" method="post" action="/api/register">
		<h3>Sign up</h3>
		<div class="control-group">
			<input type="text" class="username" name="username" placeholder="Username">
		</div>
		<div class="control-group">
			<input type="password" class="password" name="password" placeholder="Password">
		</div>
		<div class="control-group">
			<input type="text" class="email" name="email" placeholder="E-mail">
		</div>

		<!-- <input class="submit-button" type="submit" value="Submit"> -->

		<button type="submit">
				Submit
		</button>

	</form>

</section>
